<a href="https://colab.research.google.com/github/AngelValentin9/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Ejercicio 3.1 

print ("ingrese sueldo del trabajador #1:")
SUE1 = float (input())
print ("ingrese sueldo del trabajador #2:")
SUE2 = float (input())
print ("ingrese sueldo del trabajador #3:")
SUE3 = float (input())
print ("ingrese sueldo del trabajador #4:")
SUE4 = float (input())
print ("ingrese sueldo del trabajador #5:")
SUE5 = float (input())
print ("ingrese sueldo del trabajador #6:")
SUE6 = float (input())
print ("ingrese sueldo del trabajador #7:")
SUE7 = float (input())
print ("ingrese sueldo del trabajador #8:")
SUE8 = float (input())
print ("ingrese sueldo del trabajador #9:")
SUE9 = float (input())
print ("ingrese sueldo del trabajador #10:")
SUE10 = float (input())

Nomina = SUE1+SUE2+SUE3+SUE4+SUE5+SUE6+SUE7+SUE8+SUE9+SUE10
print(f"Nomina total: ${Nomina}")

ingrese sueldo del trabajador #1:
1500
ingrese sueldo del trabajador #2:
700
ingrese sueldo del trabajador #3:
800
ingrese sueldo del trabajador #4:
300
ingrese sueldo del trabajador #5:
200
ingrese sueldo del trabajador #6:
20000
ingrese sueldo del trabajador #7:
1500
ingrese sueldo del trabajador #8:
10000
ingrese sueldo del trabajador #9:
7000
ingrese sueldo del trabajador #10:
13000
Nomina total: $55000.0

In [7]:
#Ejercicio 3.1 (pag 109)
salario = []
cont = 0
for i in range(10):
  salario.append(float(input(f"Salario: $")))
for i in salario :
  cont += i
print(f"Nomina total: ${cont}")

Salario: $1500
Salario: $700
Salario: $800
Salario: $300
Salario: $200
Salario: $20000
Salario: $1500
Salario: $10000
Salario: $7000
Salario: $13000
Nomina total: $55000.0

In [8]:
#Ejercicio 3.4 (pag. 117)

montoTotal = 0
flag =1.0
while flag > 0.0:
  aux = float(input("Monto: $"))
  montoTotal += (aux if aux > 0.0 else 0.0)
  flag = aux
print(f"El total de gastos es: ${montoTotal}")

Monto: $2528
Monto: $3500
Monto: $1600
Monto: $1850
Monto: $150
Monto: $-1
El total de gastos es: $9628.0